{% extends "pages/base.html" %}

{% block title %} body{% endblock %}
{% block content %} 
{% load humanize %}
<div class="body">
    <div class="sidebar-container">
        {% for cate in Category %}
        <div>{{cate.id}}. <a href="{% url 'product_by_filter' cate.id %}">{{cate.name}}</a></div>
        
        {% endfor%}
    </div>
    <div class="shop">
    {% if Products or query%}
        {% if Products %}
        {% for product in Products %}
        <div class="product-container">
        {% if product.image %}
            <img class="product-img" src="{{ product.image.url }}" >
        {% else %}
            <p>No image available</p>
        {% endif %}
            <div><a href="/blog/{{ product.id }}">{{ product.body }}</a></div>
            <p>{{product.price|intcomma}} đ</p>
        </div>  
        {% endfor %}
        {% else %}
            <p>Không tìm thấy sản phẩm nào.</p>
        {% endif %}
    {%endif%}
        {% for product in Product %}
            <div class="product-container">
        {% if product.image %}
            <img class="product-img" src="{{ product.image.url }}" >
        {% else %}
            <p>No image available</p>
        {% endif %}
        <div><a href="/blog/{{ product.id }}">{{ product.body }}</a></div>
        <p>{{product.price|intcomma}} đ</p>
        </div>  
    {% endfor %}    

    </div>
</div>
{% endblock %}
