{% extends "pages/base.html" %}

{% block title %}{{post.title}}{% endblock %}
{% block content %} 
{% load humanize %}
<div class="product">
  <div style="display: flex; flex-direction: row;">
  <div><img class="product-img-f" src="{{product.image.url}}"></div>
  <div class="product-name">{{product.body|safe|linebreaks}}
    <p>{{product.price|intcomma}} Đ</p>
    So luong
    <input type="number" value="0" min="1" class="quanity">
    <button type="submit" class="submit">Them vao gio hang </button>
    <button>mua ngay</button>
  </div>
</div>
  <div style="font-size:small;">
{% for comment in product.comments.all %}
  <div><strong>{{comment.author}}</strong></div>
  <div><p>{{comment.date}}</p></div>
  <div>{{comment.body|linebreaks}}</div>
  
{% endfor %}

{% if user.username %}
  <form action="{% url 'product' product.id %}" method='POST'>
  {% csrf_token %}
  <div><label>Binh luan:</label></div>
  {{form.body}}
  
  <input type="submit" value="Binh luan">
  </form>
</div>
{% endif %}
</div>
{% endblock %}      